@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main-bg {
    background-color: #353635;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.rotate-45 {
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    margin: 50px;
    border-top: 25px #f08543 solid;
    border-bottom: 25px #5c73c4 solid;
    border-right: 25px #adb5c4 solid;
    border-left: 25px #71bd98 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    transform: rotate(-45deg);
}

.main-paragraph {
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-family: "Roboto";
}

.sub-paragraph {
    color: white;
    font-family: "Roboto";
    font-size: 12px;
    text-align: center;
    padding-left: 50px;
}

.symbol {
    color: #f08543;
}